@charset "UTF-8";
/*base.css*/
html{
    font-size:12px; 
    background: #f5f5f5;
}
html,body{
    width:100%;
    margin:0;
    overflow:hidden;
    font-family:'Microsoft YaHei',"Arial";
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
    -webkit-text-size-adjust:none;
    -webkit-touch-callout:behavior;

}
h1,h2,h2,h3,h4,h5,h6{
    margin:0;
    font-size:100%;
}
p,dl,dd,form,figure{
    margin:0;
}
td,th{
    padding:0;
}
a,a:hover,time{
    text-decoration:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
}
ol,ul{
    padding:0;
    margin:0;
    list-style:none;
}
li{
    list-style-type:none;
}
table{
    border-collapse:collapse;
}
img{
    border:none;
    vertical-align:middle;
}
em,i{
    font-style:normal;
}
a:focus,
textarea:focus,
input:focus,
textarea,input{
    padding:0;
    margin:0;
    resize:none;
    outline:none;
    font-family:'Microsoft YaHei';
    vertical-align:middle;
    -webkit-appearance:none;
}
/*点击链接时周围的虚线框*/
input::-ms-clear{
    display:none;
}
/*chrome记住密码 input输入框会有黄色*/
input:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0px 100px #f9f9f9 inset;
}

/*html5 reset*/
header,nav,article,section,aside,footer,figure,figcaption{
    display:block;

}

/*comm css*/
.rel{
    position:relative;
}
.abs{
    position:absolute;
}
.dn{
    display:none;
}
.block{ 
    display:block; 
}
.r{
    float:right;
}
.l{
    float:left;
}
.mc{
    margin-right:auto;
    margin-left:auto;
}
.tl{ 
    text-align:left; 
}
.tr{ 
    text-align:right; 
}
.tc{ 
    text-align:center; 
}
.cl{ 
    clear:both; 
}
.textOverflow{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.textOverflows{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow : hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.textBreak{
    word-break:break-all;
　　word-wrap:break-word;
}
.textNowrap{
    white-space:nowrap;
}
.col-red{
    color:red;
}
.col-blue{
    color:blue;
}
.col-green{
    color:green;
}
.col-gray{
    color:gray;
}
/* media */
/* 横屏 */
@media screen and (orientation:landscape){
      
}
/* 竖屏 */
@media screen and (orientation:portrait){
      
}
/* 窗口宽度<960,设计宽度=768 */
@media screen and (max-width:959px){
      
}
/* 窗口宽度<768,设计宽度=640 */
@media screen and (max-width:767px){
      
}
/* 窗口宽度<640,设计宽度=480 */
@media screen and (max-width:639px){
      
}