/*pushbutton*/
.pushbutton,
.pushbutton>.bg{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	width:100%;
	height:100%;
}
.pushbutton>.bg{
	background:rgba(0,0,0,.4);
}
.push-list{
	position:absolute;
	left: 0;
	bottom: 0; 
	z-index:101;
	width: 100%; 
	background: #fff; 
	text-align: center; 
	color: #333;
}
.push-list li{ 
	border-top:1px solid #d4d4d4; 
	padding:15px; 
	font-size: 16px;
	cursor:pointer;
	white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.push-list li:first-child{
	border:none;
}
.pushbutton-cancel{
	color:#6DA0F6;	
}
.pushbutton ul{
	bottom:-100%;
}
.pushbutton-in{
	display:block;
	animation:pushbuttonIn .35s forwards;
	-webkit-animation:pushbuttonIn .35s forwards;
	-moz-animation:pushbuttonIn .35s forwards;
	-o-animation:pushbuttonIn .35s forwards;
	-ms-animation:pushbuttonIn .35s forwards;
}
@keyframes pushbuttonIn{
	from {opacity:0;}
	to {opacity:1;}
}
@-webkit-keyframes pushbuttonIn{
	from {opacity:0;}
	to {opacity:1;}
}
@-moz-keyframes pushbuttonIn{
	from {opacity:0;}
	to {opacity:1;}
}
@-o-keyframes pushbuttonIn{
	from {opacity:0;}
	to {opacity:1;}
}
@-ms-keyframes pushbuttonIn{
	from {opacity:0;}
	to {opacity:1;}
}
.pushbutton-out{
	animation:pushbuttonOut .35s forwards;
	-webkit-animation:pushbuttonOut .35s forwards;
	-moz-animation:pushbuttonOut .35s forwards;
	-o-animation:pushbuttonOut .35s forwards;
	-ms-animation:pushbuttonOut .35s forwards;
}
@keyframes pushbuttonOut{
	from {opacity:1;}
	to {opacity:0;}
}
@-webkit-keyframes pushbuttonOut{
	from {opacity:1;}
	to {opacity:0;}
}
@-moz-keyframes pushbuttonOut{
	from {opacity:1;}
	to {opacity:0;}
}
@-o-keyframes pushbuttonOut{
	from {opacity:1;}
	to {opacity:0;}
}
@-ms-keyframes pushbuttonOut{
	from {opacity:1;}
	to {opacity:0;}
}
.pushbutton-in ul.push-list{
    animation:pushbuttonUlIn .35s forwards;
    -webkit-animation:pushbuttonUlIn .35s forwards;
    -moz-animation:pushbuttonUlIn .35s forwards;
    -o-animation:pushbuttonUlIn .35s forwards;
    -ms-animation:pushbuttonUlIn .35s forwards;
}
@keyframes pushbuttonUlIn{
	from {bottom:-100%;}
	to {bottom:0;}
}
@-webkit-keyframes pushbuttonUlIn{
	from {bottom:-100%;}
	to {bottom:0;}
}
@-moz-keyframes pushbuttonUlIn{
	from {bottom:-100%;}
	to {bottom:0;}
}
@-o-keyframes pushbuttonUlIn{
	from {bottom:-100%;}
	to {bottom:0;}
}
@-ms-keyframes pushbuttonUlIn{
	from {bottom:-100%;}
	to {bottom:0;}
}
.pushbutton-out ul.push-list{
    animation:pushbuttonUlOut .35s forwards;
    -webkit-animation:pushbuttonUlOut .35s forwards;
    -moz-animation:pushbuttonUlOut .35s forwards;
    -o-animation:pushbuttonUlOut .35s forwards;
    -ms-animation:pushbuttonUlOut .35s forwards;
}
@keyframes pushbuttonUlOut{
	from {bottom:0;}
	to {bottom:-100%;}
}
@-webkit-keyframes pushbuttonUlOut{
	from {bottom:0;}
	to {bottom:-100%;}
}
@-moz-keyframes pushbuttonUlOut{
	from {bottom:0;}
	to {bottom:-100%;}
}
@-o-keyframes pushbuttonUlOut{
	from {bottom:0;}
	to {bottom:-100%;}
}
@-ms-keyframes pushbuttonUlOut{
	from {bottom:0;}
	to {bottom:-100%;}
}